* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #e5e5f7;
background-size: 20px 20px;
background-image:  repeating-linear-gradient(0deg, #ffbbe0, #ffbbe0 1px, #e5e5f7 1px, #e5e5f7);
}
.Ventana-modal {
    background: bisque;
    width: 50%;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 0;
    min-height: 350px;
    position: fixed; /* Cambia a posición fija */
    left: 50%; /* Centrar horizontalmente */
    top: 35%; /* Centrar verticalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}
.Ventana-modal-2 {
    background: bisque;
    width: 50%;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 0;
    min-height: 250px;
    position: fixed; /* Cambia a posición fija */
    left: 50%; /* Centrar horizontalmente */
    top: 40%; /* Centrar verticalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}
.Ventana-modal-3 {
    background: bisque;
    width: 50%;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 0;
    min-height: 250px;
    position: fixed; /* Cambia a posición fija */
    left: 50%; /* Centrar horizontalmente */
    top: 30%; /* Centrar verticalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}
.Ventana-modal-4 {
    background: bisque;
    width: 50%;
    color: aliceblue;
    font-size: 18px;
    border-radius: 10px;
    padding: 0;
    min-height: 250px;
    position: fixed; /* Cambia a posición fija */
    left: 50%; /* Centrar horizontalmente */
    top: 30%; /* Centrar verticalmente */
    transform: translate(-50%, -50%); /* Ajustar para centrar */
    display: none;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
}
.start-btn{
    display: flex;
    align-items: center;
    background-color: #fcb4eb;
    padding: 3px;
    margin-left: 5px;
    margin-right: 20px;
}
.start-btn p{
    font-family: vp_pixelsimplified_demo;
}
.start-btn:hover{
    background-color: #fdcef2;
    cursor: pointer;
}
#menu{
    background-color: #f1ecf0;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom-style: groove;
}
.menu-links.open{
    display: flex;
    position: absolute;
    background-color: #fff9f1;
    top: 4%;
    left: 0;
    height: 250px;
    width: 300px;
    flex-direction: column;
    z-index: -1;
    justify-items: center;
    align-items: stretch;
    box-shadow: 1px 2px 3px rgba(32, 32, 32, 0.308);
}
.menu-btn:hover{
    background-color: #ffcee9;
}
.reloj{
    display: flex;
    align-items: center;
    position: absolute;
    padding-right: 10px;
    right: 10px;
    font-size: 14px;
    font-family: vp_pixelsimplified_demo;
}
.menu-links{
    display: flex;
    justify-content: center;
}
.menu-links li{
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
    display: flex;
    margin: 0 5px;
    height: 40px;
    align-items: center;
    padding: 5px;

}
.social{
    margin-right: 10px;
    display: inline-grid;
    justify-content: center;
    justify-items: center;
}
.social img{
    width: 60px;
}
.social-text p{
    font-family: voxelregular;
    color:black;
    padding: 10px;
}
.portafolio-text p{
    font-family: voxelregular;
    color:black;
    padding: 10px;
}
.menu-links a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: vp_pixelsimplified_demo;
}
.windows-head{
    font-family: vp_pixelsimplified_demo;
    background: #3645ff;
    padding: 20px;
    display: flex;
    justify-content: center;
    border-radius: 10px 10px 0 0;
    z-index: 2;
}
.windows-content{
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    padding: 5px;
}
.windows-content-2{
    display: inline-block;
    text-align: center;
    justify-content: space-evenly;
    height: 430px;
    width: -webkit-fill-available;
    margin-top: 20px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}
.windows-content-3{
    display: block;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
    
}
.windows-content-3 a{
    font-family: voxelregular;
    font-size: 20px;
    margin-top: 10px;
}
.windows-content-4{
    display: block;
    text-align: center;
    justify-content: space-evenly;
    margin-top: 20px;
    text-align: center;
}
.windows-content p{
    font-family: voxelregular;
    font-size: 20px;
    color: black;
}
.equis{
    position: absolute;
    right: 8px;
    top: 13px;
}
footer{
    font-family: voxelregular;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1.2rem;
    padding: 20px 0 20px 0;
    text-align: center;
    background-color: rgb(255, 177, 238);
}
.player{
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(255, 165, 236);
    display: grid;
    grid-template-columns: 48px 1fr 48px;
    grid-gap: 16px;
    padding: 8px 24px;
    position: relative;
    border-radius: 64px;
    align-items: center;
}
.control,#current{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 16px;
}
#playbtn{
    cursor: pointer;
}
#playbtn:hover{
    background-color: #ffbbe0;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: voxelregular;
    font-size: 21px;
}
#current{
    font-family: voxelregular;
    text-align: right;
}
.bar{
    --space: -4px;
    background-color: #24242424;
    overflow: hidden;
    left: var(--space);
    right: var(--space);
    top: var(--space);
    bottom: var(--space);
    position: absolute;
    border-radius: 64px;
    z-index: -2;
}
#progress{
    display: block;
    width: var(--progress,0%);
    background-color: white;
    transition: all 1s linear;
    height: 100%;
}
#preloader{
	background: rgb(236, 236, 236) url(../img/loader.gif) no-repeat center center;
	background-size: 25%;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 500;
}
.modal{
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background-color: #f1ecf0;
	color:#fff;
	z-index:1;
	overflow:auto;
	opacity:0;
	pointer-events:none;
}
.modalImg{
	width:80%;
    box-shadow: 1px 1px 3px rgb(0, 0, 0, 0.53);
	max-width:1290px;
    max-height: 800px;
	border-radius: 5px;
	
}
.body.appear{
	overflow: hidden;
}
.body.lock{
    overflow: hidden;
}
.body.closed{
    overflow: scroll;
}

.modal.appear{
	opacity:1;
	pointer-events:all;

}
.modalContent{
	min-height:100vh;
	margin: auto;
	width: 50%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
}
/*---Grid---*/

.grid{
	position: relative;
	width: 100%;
	opacity:0;
	transition:opacity 0.5s linear 1s;
}

.grid.imagenes-cargadas{
	opacity:1;
    display: block;
}

.grid .item {
	position: absolute;
	display: block;
	padding: 0;
	margin: 10px;
	width: calc(33.3333% - 20px);
}

.grid .item img {
	width: 100%;
}

.grid .item-contenido{
	position: relative;
}

#images{
	border-radius: 6px;
	min-width:370px;
	height:600px;
	position:relative;
	left:0;
	text-align:center;
	font-size:100px;
	font-weight:bold;
	margin:5px 5px;
	color:white;
	transition: ease .3s;
}
.images img{
	object-fit:cover;
	cursor:pointer;
	z-index: 0;
	transition: all 0.3s ease-out;
}
.categorias{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.categorias a{
	color: #9b9b9b;
	letter-spacing: 1px;
	margin: 10px 10px;
	font-size: 18px;
	font-weight: 700;
    font-family:vp_pixelsimplified_demo ;
}
.categorias a:hover{
	color: #843bcda3;

	
}
.categorias a.activo{
	color: #001287;

}
.close{
	padding: 2px;
	text-align: center;
	position:relative;
    top: 28px;
	color: white;
	cursor:pointer;
}
.sobremi-img{
    padding-right: 5px;
}
.sobremi-texto{
    display: flex;
    max-height: 260px;
    padding: 10px;
    overflow-y: auto;
    background-color: #fff9f2;
}

.media{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.media img{
    margin: 5px;
    width: 40px;
}
.background{
    position: absolute;
    display: flex;
    left: 10%;
    top: 50%;
    justify-content: center;
    align-items: center;
    z-index: -500;
}
.background img{
    width: 250px;
}
@media screen and (max-width: 750px){
    
    #preloader{
        background-size: 50%;
    }
    .menu-links li{
        margin: 0;
    }
    .windows-content p{
        font-size: 17px;
    }
    .modalContent{
        width: 95%;
        
    }
.Ventana-modal{
    width: 95%;
}
.Ventana-modal-2{
    width: 95%;
}
.Ventana-modal-3{
    width: 90%;
}
.Ventana-modal-4{
    width: 80%;
}
.start-btn{
    position: absolute;
    left: 0px;
}
.menu-links{
    display: none;
}
.menu-links.open{
    display: flex;
    position: absolute;
    background-color: #fff9f1;
    top: 4%;
    left: 0;
    height: 250px;
    width: 300px;
    flex-direction: column;
    z-index: -1;
    justify-items: center;
    align-items: stretch;
    box-shadow: 1px 2px 3px rgba(32, 32, 32, 0.308);
}
}